.contOferty{
    padding-bottom: 200px;
    width: 100%;
}
#oferty{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 60px;
    position: relative;
    top: 100px;
    text-align: center;
    margin-bottom: 120px;
    padding: 50px;

}
.rates{
    border: none;
    overflow: auto;
    height: 600px;
    width: 80%;
    font-size: 20px;
    
}
h1{
    padding-bottom: 15px;
}
