{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      href="{% static 'home/img/logo.png'%}">
    <link rel="stylesheet" href="{% static 'home/css/base.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header class="main-header">
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{% static 'home/img/logo.png'%}"></a>
        </div>

        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="menu-icon__line"></span>
        </label>

        <ul class="nav-links">
            <li class="nav-link">
                <a href="{% url 'about' %}">O nas</a>
            </li>
            <li class="nav-link">
                <a href="{% url 'wycieczki' %}">Wycieczki</a>
            </li>
            
            <li class="nav-link">
                <a href="{% url 'contact' %}">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-link">
                <a href="{% url 'logout' %}">Wyloguj się</a>
            </li>
            <li class="nav-link">
                    <a href="{% url 'profile' %}">{{user.username}}</a>
            </li>
            {% else %}
            <li class="nav-link">
                <a href="{% url 'login' %}">Zaloguj się</a>
            </li>
            {% endif %}
        </ul>
    </header>
    {% if messages %}
        {% for message in messages %}
            <div>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% block body %}{% endblock %}
    
    <div class="footerDiv">
        <footer class="footer">
            <div class="footer-left">
                
                <p>
                    IT Flies powstało w 2000 r. w Rzeszowie i od 2012 roku
                    jest biurem podróży nr 1 w Polsce. W tym czasie wysłaliśmy
                    na wakacje niemal 8 milionów Klientów. Od początku towarzyszyła
                    nam pasja do podróżowania i pokazywania świata innym. 
                    Jako pierwsi odkrywaliśmy kraje, których nigdy wcześniej nie 
                    proponowali polscy touroperatorzy. Otworzyliśmy ponad 170 
                    salonów firmowych. W kilku krajach założyliśmy własne biura 
                    incomingowe, po to by dbać o wysoką jakość obsługi na każdym 
                    etapie Twojej podróży.
                </p>
                <br>
                <div class="socials">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-tumblr"></i></a>
                </div>
            </div>
            <ul class="footer-right">
                <li>
                    <h2>Wycieczki</h2>
                    <ul class="box">
                        <li><a href="#">Dla rodzin z dziećmi</a></li>
                        <li><a href="#">Dla par i singli</a></li>
                        <li><a href="#">Dla niepełnosprawnych</a></li>
                        <li><a href="#">Dla fanów białego szaleństwa</a></li>
                        <li><a href="#">Dla miłośników luksusu</a></li>
                        <li><a href="#">Dla aktywnych</a></li>
                    </ul>
                </li>
                <li class="features">
                    <h2>Jak rezerwować?</h2>
                    <ul class="box">
                        <li><a href="#">Warunki umowy</a></li>
                        <li><a href="#">Dane osobowe</a></li>
                        <li><a href="#">Regulamin serwisu</a></li>
                        <li><a href="#">Rezerwacja krok po kroku</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Linie lotnicze</a></li>
                    </ul>
                </li>
                <li>
                    <h2>Adres</h2>
                    <ul class="box">
                        <li>Ulica Tadeusza Rejtana 9</li>
                        <li>35-900 Rzeszów</li>
                        <li>Polska</li>
                    </ul>
                    <br>
                    <div class="socials">
                        <span>
                            <i class="fa fa-phone"></i>
                            &nbsp; 123-456-789
                        </span>
                        <br>
                        <span>
                            <i class="fa fa-envelope"></i>
                            &nbsp; info@itflies.com
                        </span>
                    </div>
                </li>
            </ul>
            <div class="footer-bottom">
                <p>All Right reserved by &copy;IT Flies 2021</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'home/js/main.js'%}"></script>

</body>
</html>