{% extends "home/base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/css/exchangerates.css'%}">
    
    <title>Aktualne kursy walut</title>
{% endblock head %}

{% block body %}
<div id="contOferty"> 
    <div id="oferty">
        <H1>Aktualne kursy walut [zł]</H1>
        </br>
        <iframe class="rates"
        src="//kursarz.pl?tmpl=widgets&style=1&type=1&modulestyle=raw&vals=ALL" 
        seamless scrolling="yes" 
        frameborder="0" 
        >
        </iframe>

    </div>
</div>
{% endblock body %}