{% extends "home/base.html" %}
{% load render_partial %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'home/css/tripsDetail.css'%}">
    <title>Strona z Wycieczkami</title>
{% endblock head %}

{% block body %}

<div class="contOferty">
    <div id="oferta">
        <h1 class="article-title">{{ object.title }}</h1>
            <div class="imgdet">
                <img src="{{ object.image_one.url }}">
                <img src="{{ object.image_two.url }}">
                <img src="{{ object.image_three.url }}">
                <img src="{{ object.image_four.url }}">
            </div>

          <div class="media-body">
            <h2 class="opis"> Hotel: {{ object.Hotel }}</h2>
            <h2 class="opis">  Ocena: {{ object.rating }}/5</h2>
            <h2 class="opis"> Czas trwania: {{ object.duration }} dni</h2> 
                </br>      
            <p class="article-content">{{ object.description }}</p>
                </br>
            <H1 class="opis"> Cena od {{ object.price }} zł/os </H1>
          </div>
    </div>
    <div class="pogodaContainer"> 
        <h1 id="miasto">{{ object.location }}</h1>
            <div class="banerpogoda">       
                <a id="pogoda" class="weatherwidget-io" href="https://forecast7.com/en/" 
                    data-label_1={{ object.location }} 
                    data-label_2="POGODA" 
                    data-font="Jura" 
                    data-icons="Climacons Animated" 
                    data-theme="mountains" >CANARIAS WEATHER
                </a>
            </div>

        <h2>Aktualna liczba zakażeń z dnia: <span id='date'></span> </h2>
        <H1 id='active'></H1>
        <p id="country" style="display: none;">{{object.country}}</p>
    </div>
    {% if user.is_authenticated %}
    <div id="zamow">
        {% render_partial 'home.views.reservation' arg1=object arg2=user %}
    </div>
    {% endif %}
  
</div>


<!--scripts-->
<script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
<script type="text/javascript" src="{% static 'home/js/reservation.js'%}"></script>
<script type="text/javascript" src="{% static 'home/js/weather.js'%}"></script>
<script type="text/javascript" src="{% static 'home/js/covid.js'%}"></script>
{% endblock body %}